@page "{id}"
@model LearningSite.Pages.Admin.ManageUser.Roles.DeleteRoleModel

@{
    ViewData["Title"] = "حذف نقش";
}

<div class="container alert alert-danger">
    <form method="post">
        <input type="hidden" asp-for="Role.Id" />
        <input type="hidden" asp-for="Role.RoleName" />
        <h2>آیا از حذف نقش "@Model.Role.RoleName" مطمئن هستید </h2>
        <p>
            <input type="submit" value="حذف کن" class="btn btn-outline btn-danger" />
            <a asp-page="Index" class="btn btn-outline btn-info">انصراف</a>
        </p>
    </form>
</div>