@model DataLayer.Entities.User.User

<div style="direction: rtl; padding: 20px">
    <h2>@Model.UserName عزیز !</h2>
    <p>برای تغییر رمز خود وارد لینک زیر شوید</p>
    <p>
        <a href="https://localhost:7089/Account/ResetPassword/@Model.ActivateCode">تغییر رمز  حساب کاربری</a>
    </p>
</div>